#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #E8E8E8;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

.active {
    font-weight: bold;
    border-bottom: 2px solid orangered;
}

.avatar {
    font-size: 26px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: orangered;
    color: white;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin-right: 8px;
}

.clickable {
    cursor: pointer;
}

.icon {
    width: 16px;
    height: 16px;
}